<nav class="navbar">
    <div class="navbar-container">
        <div class="logo"></div>

        <input type="checkbox" id="toggle" />
        <label for="toggle" class="hamburger">&#9776;</label>

        <div style="float: right" class="right-section">
            <input type="text" placeholder="Search..." class="search-input" />
            <i class="fa fa-bell notification-icon"></i>
            <i class="fa fa-user user-icon"></i>
        </div>

        <ul class="nav-links">
            <li><a routerLink="/login">Login</a></li>
        </ul>
    </div>
</nav>